# List in Dictionary
# Dictionary in List
# Dictionary in Dictionary

In [3]:
# List in dictioanry
result = {'roll':[1,2,3,4,5,6,7,8,9,10],
          'name':['Ali','Saad','Umer','Hassan','Bilal','Ahmed','Faiz','Jami','Saad','Waqas'],
          'Course':['Python', 'Stats', 'ML', 'AI','Python', 'Stats', 'ML', 'AI', 'AI', 'Python'],
          'Marks':[78,68,98,87,90,98,97,67,56,76]}

In [11]:
result['name'][5]

'd'

In [13]:
result['Marks'][2:5]

[98, 87, 90]

In [15]:
# Dictonary in Dictionary
dic_in_dic = {
              'student1':{'name':'Nasir', 'roll':123, 'course':'Python'},
              'student2':{'name':'Yasir', 'roll':124, 'course':'Python'},
              'student3':{'name':'Yasin', 'roll':125, 'course':'Python'}
             }

In [17]:
dic_in_dic['student2']['name']

'Yasir'

In [19]:
dic_in_dic['student3']['course']

'Python'

# Tuple
   - immutable
   - iterable
   - (v1, v2,v3)

In [23]:
# empty 
atuple = ()
print(type(atuple))

<class 'tuple'>

In [25]:
len(atuple)

0

In [27]:
btuple = (11,22,33,44,55)

In [29]:
btuple[3]

44

In [31]:
btuple[3] = 30

TypeError: 'tuple' object does not support item assignment

In [33]:
del btuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [41]:
ctuple = (23)
print(type(ctuple))

<class 'int'>

In [39]:
ctuple = (23,)
print(type(ctuple))

<class 'tuple'>

# Set
      - immutable
      - {}

In [46]:
aset = {}
type(aset)

dict

In [52]:
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [54]:
tuple([1,2,3,4,5,6])

(1, 2, 3, 4, 5, 6)

In [65]:
aset = set([1,2,3,4,5])

In [60]:
fruits = 'mango','banana'
fruits

('mango', 'banana')

In [67]:
aset = {1,2,3,4,4,5,6,7,6,7,8,9}

# Conditional Statemts / if statement / if clause 
     - if 
     - if else
     - multiple conditions 
     - nested condition

In [75]:
tomato_price  = int(input("what is the price per kg? "))
if tomato_price > 100:
    print('1 Kg dedo')
else:
    print("2Kg dedo")

what is the price per kg?  50

2Kg dedo

In [85]:
age  = float(input("Tell me your age: "))
if age >=18:
    print('Vote dal sakte hen')
    print("NIC ban sakta hy ")
    print("Driving license")
    print("Shadi hosakti hy")
    print("Account open kar sakte hen")
else:
    print("Tien tien fish.......")
    print("Moye moye...")

Tell me your age:  34

Vote dal sakte hen
NIC ban sakta hy
Driving license
Shadi hosakti hy
Account open kar sakte hen

In [89]:
marks = float(input("Enter your marks: "))
if marks >=50:
    print("Pass")
else:
    print("Fail")

Enter your marks:  34

Fail

# Membership Check Operator: in
# Identity Check Operator : is

In [118]:
guest_list = ['ali','hassan', 'rashid', 'kamran', 'faisal', 'ahmed', 'ashraf']

In [114]:
guest_name = input("Please tell me your name: ").lower()
if guest_name in guest_list:
    print("You are Welcome!")
else:
    print("Your name is not in list")

Please tell me your name:  RASHID

You are Welcome!

In [ ]:
guest_name = input("Please tell me your name: ")
if guest_name.startswith("a"):
    print("You are welcome. Please take front seat")

else:
    print("You can sit after first row")