# Write a program that input a string and ask user to delete a given word from a string.

In [7]:
def delword(txt, wrd):
    if wrd in txt:
        return txt.replace(wrd, "")
        
    else:
        return f"Word {wrd} nor found in text"

In [8]:
delword("Hello Pakistan", 'Hello')

' Pakistan'

In [9]:
delword("Python is an easy programming language", 'easy')

'Python is an  programming language'

# 6. Write a program that reads a string from the user containing a date in the form mm/dd/yyyy. It
# should print the date in the form March 12, 2021

In [16]:
months = {1:'Jan', 2:'Feb', 3:'March',
         4:'April',5:'May',6:'June',7:'July',
         8:'Aug',9:'Sept',10:'Oct',11:'Nov',12:'Dec'}

date = input("Enter a date in foramt mm/dd/yyyy").split("/")
print(f"{months.get(int(date[0]))} {(date[1])}, {date[2]}")

Enter a date in foramt mm/dd/yyyy 12/10/2024

Dec 10, 2024

# Modules: Package :Library
   - its a collection of functions
   - values
   - classes

In [17]:
import math

In [18]:
import os

In [20]:
import datetime

In [21]:
datetime.datetime.now()

datetime.datetime(2024, 12, 10, 17, 29, 57, 784195)

# User Defined Module
 - every python file can be treated as module

In [24]:
import apnaModule

In [26]:
apnaModule.delword("We are all pythons", 'all')

'We are  pythons'

In [27]:
import apnaModule

In [28]:
from apnaModule import sum_list,find_min

In [29]:
sum_list([34,46,67,789])

936

In [30]:
from math import ceil

In [31]:
ceil(12.9)

13

# Return
   - it returns a value

In [33]:
print("Hello")

Hello

In [48]:
def cookBiryani(rice, mutton, spices, oil, *others):
    print("Biryani Ban rahi hy")
    print("Bus ban ne wali hy")
    print("""
    .
    .
    .
    .
    """)
    print("Biryani ban gae hy")
    return 'biryani'

In [47]:
print(f"Ajao dosto {cookBiryani('Rice', 'Mutton', 'Spices', 'Oil', 'Tomoto','Onion')} khalo ")

Biryani Ban rahi hy
Bus ban ne wali hy

    .
    .
    .
    .

Biryani ban gae hy
Ajao dosto biryani khalo

In [49]:
def add(a,b):
    c= a+b # local variable  
    return c

In [50]:
add(12,23)

35

In [52]:
print(add(10,20)*100)

3000

In [53]:
print(add(100,200))

300

In [54]:
import apnaModule as am

# Exception /Exception Handling /Error Handling

In [55]:
age  = int(input("Enter your age: "))

Enter your age:  ten

ValueError: invalid literal for int() with base 10: 'ten'

In [60]:
num1= int(input("Enter a numbers"))
num2= int(input("Enter a numbers donot provide 0"))
print(num1/num2)

Enter a numbers 2
Enter a numbers donot provide 0 0

ZeroDivisionError: division by zero

In [59]:
Print("hello")

NameError: name 'Print' is not defined

# try:except

In [61]:
num1= int(input("Enter a numbers"))
num2= int(input("Enter a numbers donot provide 0"))
try:
    print(num1/num2)
except ZeroDivisionError:
    print("Insan banja mana karne k bawajood 0 daldia")

Enter a numbers 12
Enter a numbers donot provide 0 0

Insan banja mana karne k bawajood 0 daldia

In [64]:
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    print(num1/num2)
except ZeroDivisionError:
    print("Insan banja mana karne k bawajood 0 daldia")
except ValueError:
    print("Angrez! number likho")

Enter a numbers one

Angrez! number likho

In [66]:
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    print(num1/num2)
except (ZeroDivisionError):
    print("Insan banja mana karne k bawajood 0 daldia")

Enter a numbers 3
Enter a numbers donot provide 0 0

Insan banja mana karne k bawajood 0 daldia

In [71]:
alist = [1,2,3,4]
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    print(num1/num2)
    value = alist[10]
    
except :
    print("Pakra Gaya")

Enter a numbers one

Pakra Gaya

In [79]:
alist = [1,2,3,4]
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    print(num1/num2)
    value = alist[10]
    
except Exception as e:
    print(f"Exception generated and coaught {e}")

Enter a numbers one

Exception generated and coaught invalid literal for int() with base 10: 'one'

In [84]:
alist = [1,2,3,4]
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    ccc= num1/num2   
except Exception as e:
    print(f"Exception generated and coaught {e}")
else:
    print(ccc)

Enter a numbers 12
Enter a numbers donot provide 0 0

Exception generated and coaught division by zero

In [86]:
alist = [1,2,3,4]
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    ccc= num1/num2   
except Exception as e:
    print(f"Exception generated and coaught {e}")
else:
    print(ccc)
finally:
    print("Koi chlay na chaly finally to chalega!")

Enter a numbers 1
Enter a numbers donot provide 0 0

Exception generated and coaught division by zero
Koi chlay na chaly finally to chalega!

In [88]:
try:
    num1= int(input("Enter a numbers"))
    num2= int(input("Enter a numbers donot provide 0"))
    print(num1/num2)
except (ZeroDivisionError):
    print("Insan banja mana karne k bawajood 0 daldia")
finally:
    print("I am finaly")

Enter a numbers 12
Enter a numbers donot provide 0 one

 Iam finaly

ValueError: invalid literal for int() with base 10: 'one'