# Functions
    - python open: print(), type(), int(), input(),len(),id(),
    - class: list,dic
    - userdefined: we wil define
 - what: block of code. 
 - why : to reduce our code. block of code reuseable
 - how :

In [6]:
# define 
# parameterless
def salam():
    print("Assalam.o.Alaikum")

In [8]:
# call
salam()

Assalam.o.Alaikum

In [10]:
salam()

Assalam.o.Alaikum

In [12]:
salam()

Assalam.o.Alaikum

In [14]:
salam()

Assalam.o.Alaikum

In [16]:
# define parametrised
def say_salam(name):# function parameter
    print(f"Janab {name} Assalam.o.Alaikum")

In [18]:
say_salam()

TypeError: say_salam() missing 1 required positional argument: 'name'

In [20]:
say_salam('Abdullah') # argument

Janab Abdullah Assalam.o.Alaikum

In [22]:
say_salam("Asad") # # argument

Janab Asad Assalam.o.Alaikum

In [24]:
say_salam("Kamran")# # argument

Janab Kamran Assalam.o.Alaikum

In [28]:
print("Hello")

Hello

In [30]:
def add():
    a =10
    b =100
    c= a+b
    print(c)

In [32]:
add()

110

In [34]:
add()

110

In [54]:
def add(a,b):    
    c = a+b
    print(c)

In [56]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [58]:
add(3,4)

7

In [62]:
add(4,6)

10

In [64]:
add("hello", 'kc ho')

hellokc ho

In [72]:
# write a function that takes a list of numbers as argument and prints the sum of list
def sum_list(lst):
    print(sum(lst))

In [74]:
sum_list([1,2,3,4,5,6,7,8,9,10])

55

In [76]:
def sum_list(lst):
    s = 0
    for num in lst:
        s += num
    print(s)

In [78]:
sum_list([1,2,3,4,5,6,7,8,9,10])

55

In [82]:
def find_max(lst):
    print(max(lst))

In [88]:
find_max([1,2,3,4,335,61,7,8,9,10])

335

In [118]:
def find_max(lst):
    if len(lst)!=0:        
        max_num = lst[0]
        max_num = lst[0]
        for a in lst:
            if a > max_num:
                max_num = a
        print(max_num)
    else:
        print("Empty list")
find_max([123,34,54,56,78,187,89,34,56,90])
find_max([])

187
Empty list

In [112]:
def find_min(lst):
    if len(lst)!=0:        
        min_num = lst[0]
        for a in lst:
            if a < min_num:
                min_num = a
        print(min_num)
    else:
        print("Beta insan banja")
    
find_min([1,23,34,54,56,78,187,89,34,56,90])

1

In [114]:
find_min([])

Beta insan banja

### Default Parameter

In [138]:
def full_name_banao(first_name, middle_name="", last_name=""):
    full_name = f"{first_name} {middle_name} {last_name}"
    print(full_name)

SyntaxError: parameter without a default follows parameter with a default (2361722391.py, line 1)

In [129]:
full_name_banao('nasir', "ali", 'hussain')

nasir ali hussain

### Positional Arguments

In [132]:
def full_name(name, fname):
    print(f"{name} {fname}")

In [134]:
full_name("Zaid", "Saeed")

Zaid Saeed

In [136]:
full_name("Saeed", "Zaid")

Saeed Zaid

# Keyword Arguments

In [141]:
full_name(fname="Saeed", name='Zaid')

Zaid Saeed

In [143]:
def person_details(name, age, gender, phone):
    print(f"""
             Name:{name}
             Age:{age}
             Gender:{gender}
             Phone: {phone}
             """)

In [145]:
person_details(phone="12345678", 'Sameera',20, 'Female' )

SyntaxError: positional argument follows keyword argument (980402579.py, line 1)

In [149]:
person_details('Sameera', 20, phone="12345678" ,gender='Female')

             Name:Sameera
             Age:20
             Gender:Female
             Phone: 12345678

In [161]:
def add_numbers(a=0,b=0):
    print(a+b)

In [163]:
add_numbers(10)

10

In [165]:
add_numbers()

0

In [167]:
add_numbers(2,3,4)

TypeError: add_numbers() takes from 0 to 2 positional arguments but 3 were given

#### dealing with arbitrary number of arguments

In [171]:
def add_numbers(a,b,*nums):
    print(a)
    print(b)
    print(nums)

In [173]:
add_numbers(1,2)

1
2
()

In [175]:
add_numbers(1,3,5,6,7,8,9,12,54)

1
3
(5, 6, 7, 8, 9, 12, 54)

In [179]:
def add_numbers(a,b,*nums):
    t = sum(nums)
    print(t)
    s = a + b + sum(nums)
    print(s)

In [181]:
add_numbers(1,2,3,4,5,6,7,8,9,10)

52
55

In [183]:
def add_numbers(a,b,*nums):
    ts = 0
    for x in nums:
        ts+=x
    s = ts+a+b
    print(s)
add_numbers(10,20,23,435,67,89,56,45)

745