In [3]:
team = ['Zaid', 'Saad', 'Qasim', 'Waqas', 'Fahad', 'Asad', 'Nasir', 'Umer', 'Yaseen']

In [5]:
team.sort()

# Dictionary
 - {}
 - {key:value} no index.
 - mutable
 - iterable

In [13]:
# empty dictionary
student1 = {}

In [17]:
len(student1)

0

In [21]:
teacher = {'name':'Asad Ali', "tid": 1234 , 'course':"Data Analysis", 'age':30.5 }

In [23]:
len(teacher)

4

### Accessing dictionary data

In [26]:
teacher['course']

'Data Analysis'

In [28]:
teacher['age']

30.5

### Adding new value to a dictionary

In [31]:
# if the key is not already present in the dictionary, it create a new key value pair
teacher['email'] = 'abc@gmail.com'
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data Analysis',
 'age': 30.5,
 'email': 'abc@gmail.com'}

### Replacing/ Updating a new value to a dictionary

In [34]:
# if the key is PRESENt already  in the dictionary, it will update the value of the provided KEY
teacher['email'] = 'abc@yahoo.com'
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data Analysis',
 'age': 30.5,
 'email': 'abc@yahoo.com'}

In [36]:
teacher.keys()

dict_keys(['name', 'tid', 'course', 'age', 'email'])

In [38]:
teacher.values()

dict_values(['Asad Ali', 1234, 'Data Analysis', 30.5, 'abc@yahoo.com'])

In [40]:
teacher.items()

dict_items([('name', 'Asad Ali'), ('tid', 1234), ('course', 'Data Analysis'), ('age', 30.5), ('email', 'abc@yahoo.com')])

In [46]:
teacher.pop()

TypeError: pop expected at least 1 argument, got 0

In [50]:
teacher.pop('email')

'abc@yahoo.com'

In [52]:
teacher

{'name': 'Asad Ali', 'tid': 1234, 'course': 'Data Analysis'}

In [54]:
teacher.popitem()

('course', 'Data Analysis')

In [56]:
teacher

{'name': 'Asad Ali', 'tid': 1234}

In [60]:
popped_list =[]

In [66]:
popped_item = teacher.popitem()
popped_list.append(popped_item)

KeyError: 'popitem(): dictionary is empty'

In [64]:
popped_list

[[...]]

In [68]:
teacher = {'name':'Asad Ali', "tid": 1234 , 'course':"Data Analysis", 'age':30.5 }

In [70]:
popped_list =[]

In [72]:
popped_item = teacher.popitem()
popped_list.append(popped_item)

In [74]:
popped_list

[('age', 30.5)]

In [76]:
popped_item = teacher.popitem()
popped_list.append(popped_item)
popped_list

[('age', 30.5), ('course', 'Data Analysis')]

In [78]:
popped_item = teacher.popitem()
popped_list.append(popped_item)
popped_list

[('age', 30.5), ('course', 'Data Analysis'), ('tid', 1234)]

In [80]:
teacher

{'name': 'Asad Ali'}

In [82]:
popped_list =[]
popped_item = teacher.popitem()
popped_list.append(popped_item)
popped_list

[('name', 'Asad Ali')]

In [98]:
teacher = {'name':'Asad Ali', "tid": 1234 , 'course':"Data Analysis", 'age':30.5 }

In [100]:
# both are same 
teacher.get('name')  ,  teacher['name']

('Asad Ali', 'Asad Ali')

In [102]:
teacher_details = {'marital_status': 'married', 'qulaification':'Graduate', 'city':'Karachi'}

In [104]:
teacher['details'] = teacher_details

In [106]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data Analysis',
 'age': 30.5,
 'details': {'marital_status': 'married',
  'qulaification': 'Graduate',
  'city': 'Karachi'}}

In [108]:
teacher.update(teacher_details)

In [110]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data Analysis',
 'age': 30.5,
 'details': {'marital_status': 'married',
  'qulaification': 'Graduate',
  'city': 'Karachi'},
 'marital_status': 'married',
 'qulaification': 'Graduate',
 'city': 'Karachi'}

In [112]:
teacher_details

{'marital_status': 'married', 'qulaification': 'Graduate', 'city': 'Karachi'}

In [114]:
del teacher['details']

In [116]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data Analysis',
 'age': 30.5,
 'marital_status': 'married',
 'qulaification': 'Graduate',
 'city': 'Karachi'}

In [118]:
import pandas as pd
res = pd.read_excel('responses.xlsx')

In [124]:
result = res[['Score','Name', 'Email Address','Roll No.']]

In [160]:
result.to_excel("res.xlsx")

In [162]:
teacher

{'name': 'Asad Ali',
 'tid': 1234,
 'course': 'Data Analysis',
 'age': 30.5,
 'marital_status': 'married',
 'qulaification': 'Graduate',
 'city': 'Karachi'}

In [164]:
lst = []

In [170]:
popped_item = teacher.popitem()
lst.append(popped_item)

In [172]:
lst

[('city', 'Karachi'), ('qulaification', 'Graduate')]