# User input
 - Anything input from console it has type: string

In [1]:
name  = "Yasir Hussain"

In [2]:
count = 10

In [11]:
student_name = input("Enter your name")

Enter your nameRehan

In [12]:
print(student_name)
print(type(student_name))

Rehan
<class 'str'>

In [13]:
age = input("Enter your age: ")
print(age)
print(type(age))

Enter your age: 50
50
<class 'str'>

In [14]:
age + 10

TypeError: can only concatenate str (not "int") to str

### TypeCasting

In [18]:
# an integer value type casted to float
float(190)

190.0

In [19]:
# an integer value type casted to string
str(190)

'190'

In [20]:
# an string value type casted to int
# value must a number(integer) inside quotation
int("100")

100

In [21]:
# an string value type casted to int
# value must a number(integer) inside quotation
int("15.678")
# error

ValueError: invalid literal for int() with base 10: '15.678'

In [22]:
# an string value type casted to float
# value must a number inside quotation
float("15.678")

15.678

In [23]:
float("45")

45.0

In [28]:
int(float("34.6"))

34

In [25]:
int(age) + 10

60

In [29]:
age = int(float(input("Enter your age: ")))
print(age)
print(type(age))

Enter your age: 34.7
34
<class 'int'>

In [31]:
age = float(input("Enter your age: "))
print(age)
print(type(age))

Enter your age: 12_0
120.0
<class 'float'>

# String
 - String is class.
 - String is a collection.
 - Any value in inverred commas is string.
 - string values are immutable. (unchangable).

In [33]:
country = "pakistan"

In [34]:
print(type(country))

<class 'str'>

In [35]:
country.upper()

'PAKISTAN'

In [36]:
country.title()

'Pakistan'

In [37]:
country

'pakistan'

In [38]:
# first convert the value in UPPER CASE then reassign it into country.
country = country.upper()

In [39]:
country

'PAKISTAN'

In [43]:
country.count("TAN")

1

In [44]:
country.endswith("N")

True

In [45]:
country.endswith("an")

False

In [46]:
country.startswith("P")

True

In [47]:
country.find("K")

2

In [48]:
country.isalnum()

True

In [49]:
"A12".isalnum()

True

In [50]:
"A".isalnum()

True

In [51]:
"12".isalnum()

True

In [52]:
country.isalpha()

True

In [53]:
'12'.isalpha()

False

In [54]:
country.islower()

False

In [55]:
country.isspace()

False

In [56]:
" ".isspace()

True

In [64]:
student = " Nasir Hussain "
len(student)

15

In [65]:
student1 = "Nasir Hussain"

In [66]:
student == student1

False

In [67]:
student.lstrip()

'Nasir Hussain '

In [68]:
student.rstrip()

' Nasir Hussain'

In [69]:
student.strip()

'Nasir Hussain'

In [70]:
student.strip() == student1

True

In [74]:
student.replace('a', "A")

' NAsir HussAin '

In [73]:
student

' Nasir Hussain '

# String Concatenation: Joining  ( +)

In [75]:
first_name = "Artificial"
last_name = "Intelligence"

In [76]:
first_name + last_name

'ArtificialIntelligence'

In [78]:
first_name+" "+last_name

'Artificial Intelligence'

In [81]:
course = input("Enter your course name: ")
number_of_students = int(input("How many students are enrolled in course"))
institute = input("Name of institute: ")

print("We are learning "+course+".\nThere are "+str(number_of_students)+" enroled inour course at "+institute )

Enter your course name: Artificial Intelligence and Data Science
How many students are enrolled in course200
Name of institute: SMIT
We are learning Artificial Intelligence and Data Science.
There are 200 enroled inour course at SMIT

We are learning Artificial Intelligence and Data Science.
There are 200 students enroled inour course at SMIT

# format()

In [83]:
#placeholder
"We are learning {}.\nThere are {} students enroled inour course at {}".format(course,number_of_students,institute)

'We are learning Artificial Intelligence and Data Science.\nThere are 200 students enroled inour course at SMIT'

In [84]:
#placeholder
print("We are learning {}.\nThere are {} students enroled inour course at {}".format(course,number_of_students,institute))

We are learning Artificial Intelligence and Data Science.
There are 200 students enroled inour course at SMIT

# f- formatting

In [85]:
print("We are learning {}.\nThere are {} students enroled inour course at {}")

We are learning {}.
There are {} students enroled inour course at {}

In [86]:
print(f"We are learning {course}.\nThere are {number_of_students} students enroled inour course at {institute}")

We are learning Artificial Intelligence and Data Science.
There are 200 students enroled inour course at SMIT

In [87]:
course

'Artificial Intelligence and Data Science'