# Python Collections : Python Data Structures
  - List
  - Dictionary
  - Tuple
  - Set

# List:
          - list is python collection.
          - can hold many values together
          - can hold many data types together
          - is mutable
          - iterable
# list declaration : [ ]

In [1]:
student_name = 'Yaseen'

In [2]:
students = ['Yaseen', 'Umer', 'Nasir', "Asad", 'Fahad', 'Waqas','Qasim', "Saad"]

In [3]:
print(type(students))

<class 'list'>

In [4]:
items = []

In [5]:
len(items)

0

In [6]:
len(students)

8

# list indexing:

In [7]:
#             -8         -7     -6       -5      -4       -3       -2      -1
students = ['Yaseen', 'Umer', 'Nasir', "Asad", 'Fahad', 'Waqas','Qasim', "Saad"]
# index       0         1       2          3      4       5         6       7

In [8]:
students[1]

'Umer'

In [9]:
students[4]

'Fahad'

In [10]:
students[-5]

'Asad'

# Adding members to an existing list
      - append() : adds a member at very last.
      - insert() : adds a member at provided index
      - extend() : adds many members together in list
      - +        : concatenate two lists

In [11]:
students.append("Zaid")

In [12]:
students

['Yaseen', 'Umer', 'Nasir', 'Asad', 'Fahad', 'Waqas', 'Qasim', 'Saad', 'Zaid']

In [13]:
students.insert(3,"Imran")
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Zaid']

In [14]:
students.insert(300,"Kamran")
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Zaid',
 'Kamran']

In [20]:
students.extend('sunny',"sania",'sana','atif','bilal')

TypeError: list.extend() takes exactly one argument (5 given)

In [21]:
students.append(['sunny',"sania",'sana','atif','bilal'])
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Sunny,Sania',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Zaid',
 'Kamran',
 ['sunny', 'sania', 'sana', 'atif', 'bilal']]

In [22]:
students.extend(['sunny',"sania",'sana','atif','bilal'])
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Sunny,Sania',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Zaid',
 'Kamran',
 ['sunny', 'sania', 'sana', 'atif', 'bilal'],
 'sunny',
 'sania',
 'sana',
 'atif',
 'bilal']

In [23]:
teachers = ['Nasir Teacher', 'Asad Teacher']

In [24]:
students + teachers

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Sunny,Sania',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Zaid',
 'Kamran',
 ['sunny', 'sania', 'sana', 'atif', 'bilal'],
 'sunny',
 'sania',
 'sana',
 'atif',
 'bilal',
 'Nasir Teacher',
 'Asad Teacher']

# Deleting / Remove Members from an existing list
   - del statement: delete a member via index permanently
   - remove():       delete a member via value permanently: Remove first occurrence of value.
   - pop():          delete a member via index permanently / 
   - clear():        deletes all memebers from lsit permanently

In [26]:
 del student_name

In [27]:
student_name

NameError: name 'student_name' is not defined

In [28]:
#del statement: delete a member via index permanently
del students[12]

In [30]:
del students[4]

In [31]:
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Zaid',
 'Kamran',
 'sunny',
 'sania',
 'sana',
 'atif',
 'bilal']

In [32]:
#remove():delete a member via value permanently: Remove first occurrence of value
students.remove("Zaid")

In [33]:
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Kamran',
 'sunny',
 'sania',
 'sana',
 'atif',
 'bilal']

In [34]:
students.remove("Zaidi")

ValueError: list.remove(x): x not in list

In [35]:
# remove a value by default from last index
# but it return the removed value. 
students.pop()

'bilal'

In [36]:
popped_student = students.pop()
popped_student

'atif'

In [37]:
students

['Yaseen',
 'Umer',
 'Nasir',
 'Imran',
 'Asad',
 'Fahad',
 'Waqas',
 'Qasim',
 'Saad',
 'Kamran',
 'sunny',
 'sania',
 'sana']

In [38]:
# pop can dele from a give n index also
students.pop(6)

'Waqas'

In [39]:
students.clear()

In [40]:
students

[]

In [41]:
students.extend(teachers)

In [42]:
students

['Nasir Teacher', 'Asad Teacher']

In [44]:
class_stu = students.copy()

In [45]:
class_stu

['Nasir Teacher', 'Asad Teacher']

In [46]:
students

['Nasir Teacher', 'Asad Teacher']

# Pass by Value and Pass by reference

In [47]:
students

['Nasir Teacher', 'Asad Teacher']

In [59]:
# pass by refernece
new_students = students

In [49]:
students

['Nasir Teacher', 'Asad Teacher']

In [50]:
new_students

['Nasir Teacher', 'Asad Teacher']

In [51]:
students.append("Yasir")

In [52]:
students

['Nasir Teacher', 'Asad Teacher', 'Yasir']

In [53]:
new_students

['Nasir Teacher', 'Asad Teacher', 'Yasir']

In [54]:
id(new_students)

3052236900672

In [56]:
id(students)

3052236900672

In [57]:
# pass by value
old_students = students.copy()

In [58]:
id(old_students)

3052253384512

In [60]:
a = 100

In [61]:
b= a

In [62]:
id(a)

140723641360264

In [63]:
id(b)

140723641360264

In [64]:
c= 100

In [65]:
a

100

In [66]:
b

100

In [67]:
c

100

In [68]:
id(c)

140723641360264

In [69]:
name = "asad"

In [70]:
name1 = name

In [71]:
id(name)

3052238059952

In [72]:
id(name1)

3052238059952

In [73]:
name2 = "asad"

In [74]:
id(name2)

3052238059952

In [75]:
students.index("Yasir")

2

# List Slicing

In [76]:
team = ['Yaseen', 'Umer', 'Nasir', 'Asad', 'Fahad', 'Waqas', 'Qasim', 'Saad', 'Zaid']

#### index

In [77]:
team[5]

'Waqas'

In [79]:
#   team[start:ending: step]

team[1:5:1]

['Umer', 'Nasir', 'Asad', 'Fahad']

In [82]:
team[2:8:2]

['Nasir', 'Fahad', 'Qasim']

In [83]:
team

['Yaseen', 'Umer', 'Nasir', 'Asad', 'Fahad', 'Waqas', 'Qasim', 'Saad', 'Zaid']

In [86]:
team[8:1:-1]

['Zaid', 'Saad', 'Qasim', 'Waqas', 'Fahad', 'Asad', 'Nasir']

In [87]:
team[::-1]

['Zaid', 'Saad', 'Qasim', 'Waqas', 'Fahad', 'Asad', 'Nasir', 'Umer', 'Yaseen']

In [88]:
team[-8:7]

['Umer', 'Nasir', 'Asad', 'Fahad', 'Waqas', 'Qasim']

In [89]:
team

['Yaseen', 'Umer', 'Nasir', 'Asad', 'Fahad', 'Waqas', 'Qasim', 'Saad', 'Zaid']

In [90]:
team[1:4:1]

['Umer', 'Nasir', 'Asad']

In [92]:
team[4:1:-1]

['Fahad', 'Asad', 'Nasir']

In [93]:
team[::-1]

['Zaid', 'Saad', 'Qasim', 'Waqas', 'Fahad', 'Asad', 'Nasir', 'Umer', 'Yaseen']

In [94]:
misc = [1,"hello", True]

In [95]:
misc.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

##### team.sort()